@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Rancho&display=swap");

.container {
  text-align: center;
  font-family: "Rancho", cursive;
  font-size: 25px;
  padding: 2% 5%;
  background: linear-gradient(
      rgba(120, 193, 207, 0.899),
      rgba(207, 92, 92, 0.948)
    ),
    url("https://r4.wallpaperflare.com/wallpaper/518/375/797/manga-anime-mix-up-hd-wallpaper-e0b0a81e0cb7a6be26671a989b20ce1e.jpg");
  background-size: cover;
  margin: 1.1% 10%;
  border-radius: 0.8%;
}
